<div class="footer">
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/tom-lam/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/tomdinh24" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/tvm.1am/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="mailto:tomlam0811@berkeley.edu"><i class="fas fa-envelope"></i></a>
    </div>
    <p>&copy; <span id="current-year"></span> Tom Lam</p>
</div>
<script>
    document.getElementById("current-year").textContent = new Date().getFullYear();
</script>
