<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro Section</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="content-container">
        <div class="left-side">
            <div class="intro">
                <h1 class="text-5xl font-bold mb-6">Tom Lam</h1>
                <p class="text-lg">Aspiring Software Engineer and Content Creator</p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/tom-lam/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/tomdinh24" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/tvm.1am/reels/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:tomlam0811@berkeley.edu"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="right-side">
            <img src="../image/image1.png" alt="Profile">
        </div>
    </div>
</body>
</html>
