<div class="work-experience-section">
    <div class="work-experience-title">
        <h2>Work Experience</h2>
    </div>
    <div class="timeline">
        <div class="timeline-circle"></div>
        <div class="timeline-arrow"></div>
        <div class="timeline-content timeline-left">
            <div class="timeline-item">
                <div class="timeline-text">
                    <span>Jul 2024 - Present</span>
                    <h3>Technical Operation Intern</h3>
                    <p>Workflows AI · Internship</p>
                    <span>Berkeley, California, United States</span>
                </div>
                <img src="../image/workflow.jpeg" alt="Workflow AI">
            </div>
            <p>Strategize and Operate Multi Agent System (MAS) at scale.</p>
        </div>
        <div class="timeline-circle"></div>
        <div class="timeline-arrow"></div>
        <div class="timeline-content timeline-right">
            <div class="timeline-item">
                <div class="timeline-text">
                    <span>Jan 2024 - Present</span>
                    <h3>Founder</h3>
                    <p>Stealth Startup · Self-employed</p>
                    <span>Berkeley, California, United States</span>
                </div>
                <img src="../image/stealth.jpeg" alt="Stealth Startup">
            </div>
        </div>
        <div class="timeline-circle"></div>
        <div class="timeline-arrow"></div>
        <div class="timeline-content timeline-left">
            <div class="timeline-item">
                <div class="timeline-text">
                    <span>May 2024 - Present</span>
                    <h3>Founder</h3>
                    <p>Berkeley Summer Community</p>
                    <span>Berkeley, California, United States</span>
                </div>
                <img src="../image/bsc.png" alt="Berkeley Summer Community">
            </div>
            <p>BSC is a Berkeley student community that hosts fun events/hangouts over the summer with over 320 signups and 240 members in the community discord channel.</p>
        </div>
        <div class="timeline-circle"></div>
        <div class="timeline-arrow"></div>
        <div class="timeline-content timeline-right">
            <div class="timeline-item">
                <div class="timeline-text">
                    <span>Feb 2024 - Present</span>
                    <h3>Executive Board</h3>
                    <p>AI Entrepreneurs at Berkeley</p>
                    <span>Berkeley, California, United States</span>
                </div>
                <img src="../image/aieb.jpeg" alt="AI Entrepreneurs at Berkeley">
            </div>
            <p>A premier AI incubator for early-stage startups and a community of risk-takers, researchers, and investor partners.</p>
        </div>
        <div class="timeline-circle"></div>
        <div class="timeline-arrow"></div>
        <div class="timeline-content timeline-left">
            <div class="timeline-item">
                <div class="timeline-text">
                    <span>Aug 2023 - Present</span>
                    <h3>Software Engineer</h3>
                    <p>Tech2Table</p>
                    <span>Berkeley, California, United States</span>
                </div>
                <img src="../image/t2t.jpeg" alt="Tech2Table">
            </div>
        </div>
    </div>
    <div class="button-container">
        <a href="https://docs.google.com/document/d/1z1JloBe-1Ac_S1pbr43nMTTvrGMc9uuDGhSZmzl0BTw/edit?usp=sharing" target="_blank" class="glass-button">View My Resume</a>
    </div>
</div>
